<div class="container px-5 px-sm-0">
<% if @range == '1' %>
  <h1>Users search for <%= @word %></h1>
  <% if @user.count == 0 %>
    <h2>検索結果がありませんでした</h2>
  <% else %>
    <%= render 'users/index', users: @user %>
  <% end %>
<% else %>
  <h1>Books search for <%= @word %></h1>
  <% if @book.count == 0 %>
    <h2>検索結果がありませんでした</h2>
  <% else %>
    <%= render 'books/index', books: @book %>
  <% end %>
<% end %>
</div>